* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-image: url('images.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}

.cabecalho{
    background-color: rgba(0, 255, 34, 0.603);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    border-radius: 5px;
}